<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>viewer</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/base.css">
</head>

<body>
  <figure><img src="../img/img1.jpg" width="640" height="400" alt="Photo"></figure>
  <ul>
    <li><a href="../img/img1.jpg"><img src="../img/thumb1.jpg" width="80" height="50" alt="Photo1"></a></li>
    <li><a href="../img/img2.jpg"><img src="../img/thumb2.jpg" width="80" height="50" alt="Photo1"></a></li>
    <li><a href="../img/img3.jpg"><img src="../img/thumb3.jpg" width="80" height="50" alt="Photo1"></a></li>
  </ul>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="../assets/js/base.js"></script>
</body>

</html>
